/* Large desktops and laptops */
@media (min-width: 1200px) {
	p.text-bgcolor {font-size: 2.1rem;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	p.text-bgcolor {font-size: 1.9rem;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	p.text-bgcolor {font-size: 1.5rem;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	p.text-bgcolor {font-size: 1.1rem;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	p.text-bgcolor {font-size: .7rem;}
}

body {
	background-color: #2c5162;
	color: white;
}

/*a{
    display: block;
    /*width: fit-content;
}*/

.bgcolor {
	color: #dfdfdf;
}

#Layer_1 {
	display: block;
	/*width: 50%;
	/*margin-left: auto;
	margin-right: auto;*/
	/*margin-top: 5em;
	margin-bottom: 5em;*/
}

#Layer_1_google, #Layer_1_app {
	/*display: block;
	width: 25%;*/
	/*margin-left: auto;
	margin-right: auto;*/
	/*margin-top: 5em;
	margin-bottom: 5em;*/
}

.padding-text{
	padding-left: 1.5rem!important;
	padding-right: 0!important;
}

.size-50 {
	width: 50%;
}

.size-35 {
	width: 35%;
}